@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Roboto+Condensed|Montserrat:400,600,700');
html {
	height: 100%
}

body {
	background: linear-gradient(-45deg, #42A5F5 50%, #FFA726 0px);
	overflow: hidden;
	/*	font-family: 'Roboto Condensed', sans-serif;*/
	/*	font-family: 'Montserrat', sans-serif;*/
	font-family: 'Barlow Semi Condensed', sans-serif;
}


/*.col-xs-*/

@media screen and (max-width: 767px) {
	body {
		font-size: 20px;
	}
}


/*.col-sm-*/

@media only screen and (min-width: 768px) {
	body {
		font-size: 20px;
	}
}


/*.col-md-*/

@media only screen and (min-width: 992px) {
	body {
		font-size: 20px;
	}
}


/*.col-lg-*/

@media screen and (min-width: 1200px) {
	body {
		font-size: 26px;
	}

}

h1 {
	font-size: 2em;
}

a,
a:visited,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: .3s;
}

#calculator-container {
	float: none;
	width: 287px;
	height: auto;
	margin: 150px auto;
	background: #EEEEEE;
	box-shadow: 0px 6px 20px #808080;
}

#display-container {
	position: relative;
	padding-top: 40px;
	border-bottom: 1px solid #e3e3e3;
	box-shadow: 0px 3px 5px rgba(175, 175, 175, 0.62);
	z-index: 1;
}

.mac-buttons {
	padding-left: 10px;
	padding-top: 8px;
	float: left;
	line-height: 0px;
	display: inline-block;
}

.mac-close {
	/* grey button */
/*	background: #bfbfbf;*/
/*	border: 1px solid #bfbfbf;*/
		background: #ff5c5c;
		border: 1px solid #e33e41;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	display: inline-block;
}

.mac-minimize {
	/* grey button */
/*	background: #bfbfbf;*/
/*	border: 1px solid #bfbfbf;*/
	background: #ffbd4c;
	border: 1px solid #e09e3e;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	display: inline-block;
}

.mac-zoom {
	/* grey button */
/*	background: #bfbfbf;*/
/*	border: 1px solid #bfbfbf;*/
	background: #00ca56;
	border: 1px solid #14ae46;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	display: inline-block;
}

#calculator-inner {
	width: 287px;
	padding: 15px auto;
	border-right: 7px solid #37474F;
	z-index: 0;
}

.display {
	padding-right: 7px;
	text-align: right;
	color: #37474F;
}

#working-display {
	font-size: .75em;
	color: #546E7A;
}

#main-display {
	font-size: 2em;
	color: #37474F;
	margin: 0;
	z-index: 1;
}

.btn-group .button {
	width: 70px;
	height: 70px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	float: left;
	border: none;
	outline: 0;
	transition: .05s;
}

.btn-group .button:active {
	background: pink;
}

.btn-grey {
	color: #546E7A;
	background: hsl(0, 0%, 93%);
}

.btn-grey:hover {
	background-color: #b8b9bf;
	background: hsl(0, 0%, 80%);
}

.btn-yellow {
	background-color: hsl(54, 100%, 62%);
	color: #546E7A;
}

.btn-yellow:hover {
	background-color: hsl(54, 80%, 52%);
}

.btn-red {
	background-color: hsl(4, 90%, 58%);
	color: #F5F5F5;
}

.btn-red:active {
	background-color: #ff6868 !important;
}

.btn-red:hover {
	background-color: hsl(4, 70%, 48%);
}

.btn-green {
	background-color: hsl(122, 39%, 49%);
	color: #F5F5F5;
}

.btn-green:hover {
	background-color: hsl(122, 39%, 44%);
}

.btn-green:active {
	background-color: #ed8d86 !important;
}

.btn-divider-v {
	border-right: 1px solid #CCDB96 !important;
}

.btn-divider-h {
	border-bottom: 1px solid #CCDB96 !important;
}

.operator {
	font-size: 1.5em;
}

.btn-warning {
	background: #FCEB3B;
	color: #546E7A;
}

.btn-success:focus {
	background-color: #5cb85c;
	border-color: #4cae4c;
	outline: none;
}

.btn-success:hover {
	background-color: #449d44;
}

.btn-warning:focus {
	background-color: #f0ad4e;
	border-color: #eea236;
	outline: none;
}

.btn-warning:hover {
	background-color: #ec971f;
}

.tall-btn {
	height: 97px;
	position: absolute;
	left: 145px;
	z-index: 1;
}


/*
.dbl-btn {
	width: 92px;
}


/*
.number-row {
	padding-top: 5px;
	position: relative;
}
*/

#btn-zero {
	/*	width: 92px;*/
}

#btn-clear {
	/*		width: 44px;*/
}

#btn-backspace {
	font-size: .80em;
	/*
	width: 44px;
	background: #F44336;
	color: #F5F5F5;
*/
}

#btn-period {
	/*	width: 45px;*/
	font-size: 1.5em;
}

#btn-addition {
	height: 140px;
	position: absolute;
	left: 210px;
	z-index: 1;
}

#btn-equals {
	width: 140px;
}
